.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}
.buttons button {
  margin: 0 5px;
  background-color: rgb(195, 19, 51);
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
  padding: 0.6em 1.2em;
  border: 1px solid transparent;
  font-family: 'Cairo', sans-serif;
}
button:hover{
    background-color: white;
    color: rgb(195, 19, 51); 
}